In [25]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegressionCV

In [10]:
database = pd.read_csv("train.csv")
print(database.shape)
x_train = database.iloc[:,:-1]
print(x_train.shape)
print(database.columns)
print(database.describe())

(668, 11)
(668, 10)
Index(['Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare',
       'Cabin', 'Embarked', 'Survived'],
      dtype='object')
           Pclass         Age       SibSp       Parch        Fare    Survived
count  668.000000  536.000000  668.000000  668.000000  668.000000  668.000000
mean     2.296407   29.700560    0.528443    0.407186   32.064552    0.402695
std      0.831638   14.240257    1.080327    0.854695   45.320835    0.490808
min      1.000000    0.670000    0.000000    0.000000    0.000000    0.000000
25%      2.000000   21.000000    0.000000    0.000000    7.925000    0.000000
50%      3.000000   29.000000    0.000000    0.000000   14.750000    0.000000
75%      3.000000   38.250000    1.000000    0.000000   31.275000    1.000000
max      3.000000   80.000000    8.000000    6.000000  512.329200    1.000000

In [15]:
(database.isna().sum())/668
database.drop(columns=["Cabin"], inplace=True)

In [16]:
(database.isna().sum())/668

Pclass      0.000000
Name        0.000000
Sex         0.000000
Age         0.197605
SibSp       0.000000
Parch       0.000000
Ticket      0.000000
Fare        0.000000
Embarked    0.001497
Survived    0.000000
dtype: float64

In [34]:
database.Age.fillna(value=database.Age.mean(),inplace=True)

In [24]:
database.drop(columns=["Name", "Embarked"], inplace=True)

In [30]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
database.Sex = encoder.fit_transform(database.Sex)

In [36]:
print(database.head())
database.drop(columns=["Ticket"],inplace = True)

   Pclass  Sex       Age  SibSp  Parch           Ticket    Fare  Survived
0       2    0  29.00000      1      0           228414  26.000         1
1       3    1  29.70056      0      0         A/5 2466   8.050         0
2       2    1  39.00000      0      0           250655  26.000         0
3       3    0  29.00000      0      4           349909  21.075         0
4       3    1  25.00000      0      0  SOTON/OQ 392076   7.050         0

In [37]:
x_train =database.iloc[:,:-1]
y_train = database.iloc[:,-1]

In [38]:
algo = LogisticRegressionCV()
algo.fit(x_train,y_train)

LogisticRegressionCV(Cs=10, class_weight=None, cv=None, dual=False,
           fit_intercept=True, intercept_scaling=1.0, max_iter=100,
           multi_class='ovr', n_jobs=1, penalty='l2', random_state=None,
           refit=True, scoring=None, solver='lbfgs', tol=0.0001, verbose=0)

In [40]:
testdata = pd.read_csv("test.csv")
print(testdata.columns)
testdata.drop(columns=["Name","Ticket","Cabin","Embarked"],inplace=True)

Index(['Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare',
       'Cabin', 'Embarked'],
      dtype='object')

In [43]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
testdata.Sex = encoder.fit_transform(testdata.Sex)
testdata.Age.fillna(value=testdata.Age.mean(),inplace = True)
print(testdata.head())

   Pclass  Sex        Age  SibSp  Parch     Fare
0       2    1   8.000000      1      1  36.7500
1       1    0  49.000000      0      0  25.9292
2       3    1  29.694775      0      0   7.7375
3       2    0  24.000000      2      1  27.0000
4       1    1  36.000000      0      0  26.2875

In [51]:
y_pred = algo.predict(testdata)
print(y_pred.shape)
np.savetxt("Pred.csv",y_pred,delimiter=',',fmt="%.0f")

(223,)